[mysqld]
# Basic Settings
user = root
port = 3306 # Port MySQL listens on (3306 is the default MySQL port number. 
#Change the value if your server is listening to a different port.)
datadir = /var/lib/mysql  # the place will data store
log-bin = /var/lib/mysql/mysql-bin # 
bind-address = 0.0.0.0  # IP address of your server
#skip-networking = false  # This should to be set to flase out to enable networking